html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.classify-buttons {
    text-align: center;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}

.logo-item {
    background-color: white !important;
}

.logo-item > img {
    height: 24px;
}

.webcam-preview-container {
    text-align: center;
}

#webcam-preview {
    width: 100%;
}
